%h1= @question.body

%table
  -@question.answers.each do |answer|
    %tr
      %td= answer.body
      %td= link_to "Edit Answer", edit_answer_path(answer), class: 'button small no-margin'

=link_to "Add Answer", new_question_answer_path(@question), class: 'button'
