%h1 Quizzes

%table
  - @quizzes.each do |quiz|
    %tr
      %td= quiz.title
      %td= link_to "Edit Quiz", edit_quiz_path(quiz), class: 'button small no-margin'
      %td= link_to "Take Quiz", quiz_path(quiz), class: "small button no-margin"
