%h1 Quizzes

.panel
  - @quizzes.each do |quiz|
    .panel
      = quiz.title
      = link_to "Edit Quiz", edit_quiz_path(quiz), class: "button small m0"
      = link_to "Take Quiz", quiz_path(quiz), class: "small button m0"
=link_to "New Quiz", new_quiz_path, class: "button float-right"
