%h4= @question.body
.row
  .columns.small-12{class: ("medium-6" if @question.picture.file?) }
    = render "form", form_object: @answer
  -if(@question.picture.file?)
    .columns.small-12.medium-6
      = image_tag @question.picture
