.accordion-title
{
  font-size: 1rem;
}
.top-bar
{
  background-color: transparent;
  border-bottom: 4px solid #8C8CEE;
}
.button
{
  background-color: #8C8CEE;
}
.answer_choice .radio label
{
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;
  &:hover
  {
    border-color: #777;
  }
}


.non-selected-answer
{
  border: 1px solid #eee;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in-out all;
  -webkit-transition: 0.1s ease-in-out all;
  color: #818181;
  }
.selected-answer
{
  border: 1px solid #d7dada;
  color: #000;
  background: #f7f7f7;
}
