.accordion-title
{
  font-size: 1rem;
}
.top-bar
{
  background-color: transparent;
  border-bottom: 4px solid #8C8CEE;
}
.button
{
  background-color: #8C8CEE;
}
.answer_choice .radio label
{
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;
  &:hover
  {
    border-color: #777;
  }
}
